<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <button (click)="addToCart(product)">Buy</button>

</div>

<hr>

<div class="mygrid" >
  <svg class="child0" >
      <text fill="black" (mousedown)="textClicked()">High</text>
  </svg>
  <div class="child1"></div>
  <svg class="child-svg"></svg>
  <canvas class="child-canvas"></canvas>
    <div class="child2"></div>
</div>

<hr>

<div class="cmds">
	<button (click)="changeSize(-1)">stretch</button>
	<button (click)="changeSize(100)">100</button>
  <button (click)="changeSize(200)">200</button>
  <button (click)="changeSize(250)">250</button>
  <button (click)="changeSize(300)">300</button>
  <button (click)="getSize()">Get Size</button>
</div>

<hr>

{{info}}

<hr>

{{product.cars}}